body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* INTRO */
.intro {
    width: 100%;
    height: 100vh;
    background: url(../images/intro.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__title {
    font-size: 160px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

.intro__title::after {
    content: '';
    height: 3px;
    background-color: #fff;
    display: block;
    width: 100%;
    max-width: 60px;
    margin: 60px auto 50px;
    
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.intro__suptitle {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

/* HEADER */

.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header_inner  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAV */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0px 15px;
    position: relative;
    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover::after {
    opacity: 1;
}

/* BUTTON */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}